{%  extends "base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{%  block page_content %}

    <form class="form form-horizontal" method="post" role="form">

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <b>Rules of the game</b>
                <ul>
                    <li>This is played within close group of friends who know each other.</li>
                    <li>You get to share your wishes, and are signed-up to fulfill a friends's wish.</li>
                    <li>Suggested limit for gifts/donations to charity is around 20 USD.</li>
                </ul>
            </div>
        </div>

        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('md', 4, 4), button_map = {"submit": "success"}) }}
    </form>

{% endblock %}
